body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ecc9ca;
    /* font-family: 'DM Sans', sans-serif; */
    font-family: 'Playwrite HU', cursive;
    flex-direction: column;
  }
  
  .container {
    text-align: center;
  }
  
  h1 {
    font-size: 2.5em;
    color: #df1a42;
  }

  .note {
    font-family: 'DM Sans', sans-serif;
    font-size: 0.8em;
    font-weight: 600;
    color: #c55061;
  }

  .text {
    font-family: 'DM Sans', sans-serif;
    font-size: 1em;
    font-weight: 600;
    color: #af3b4d;
  }
  
  .buttons {
    margin-top: 20px;
  }
  
  .yes-button {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 1.5em;
    padding: 10px 20px;
    margin-right: 10px;
    /* background-color: #638f64; */
    /* color: white; */
    background-color: #df1a42;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .no-button {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 1.5em;
    padding: 10px 20px;
    background-color: #f05f7f;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .gif_container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
  }