body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 20px;
    background-color: #f9e3e3;
    font-family: 'DM Sans', sans-serif;
}

.container {
    text-align: center;
}

.header_text {
    font-size: 3em;
    color: #d32f2f;
}

.text {
    font-size: 1em;
    color: #af3b4d;
    font-weight: 600;
}

.go-button {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 1.5em;
    padding: 8px 32px;
    margin-right: 10px;
    background-color: #df1a42;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.gif_container img {
    width: 100%; 
    max-width: 500px; 
    height: auto;
    margin-top: 40px;
}
